* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    padding: 0px;
    list-style: none;
}

p,
ol,
ul,
li,
span,
label {
    margin-bottom: 0px;
}

html,
body {
    color: $text;
    background: $white;
    direction: $direction;
    scroll-behavior: smooth;
}

input,
button {
    border: none;
    outline: none;
    background: none;
}

button:focus {
    outline: none;
}


body {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Exo', sans-serif;
    line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading;
    margin-bottom: 0px;
}

h1 {
    @include font(45px, 800);
    text-transform: uppercase;
}

h2 {
    @include font(35px, 700);
    text-transform: capitalize;
}

@media (max-width: 575px) {
    h2 { font-size: 28px; }
}

@media (max-width: 991px) {
    .content-reverse { flex-direction: column-reverse; }
}



