// SITE DIRECTION
$direction: ltr;
$start-direction: left;
$end-direction: right;

// NAME COLOR
$red: #ff3838;
$gray: #a8aeb1;
$blue: #1494a9;
$dark: #040324;
$black: #030118;
$white: #ffffff;
$chalk-1: #f5f5f5;
$chalk-2: #ececec;
$green: #11b76b;
$purple: #b12fad;
$orange: #e86121;
$yellow: #ffb100;
$indigo: #6610f2;

// CUSTOM COLOR
$text: #5e5d72;
$light: #fafcff;
$border: #e3e3e3;
$heading: #403e57;
$primary: #2255bb;
$primary-light: #6196ff;

// SOCIAL COLOR
$facebook: #3b5998;
$linkedin: #0e76a8;
$twitter: #00acee;
$google: #E60023;
$instagram: #F77737;
$whatsapp: #25D366;
$pinterest: #f0002a;
$youtube: #FF0000;

// BOX SHADOW
$primary-bshadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);

// TEXT SHADOW
$primary-tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1);  




