.footer-bottom {
    padding: 15px 0px;
    background: $black;
    position: relative;

    .container {
        @include flex(center, space-between);

        p {
            color: $gray;
            font-size: 15px;
            text-transform: capitalize;

            a { color: $primary; }
        }
    }
}

.backtop {
    position: absolute;
    top: -25px;
    #{$start-direction}: 50%;
    transform: translateX(-50%);

    i {
        @include center(70px, 70px, 50px, 50%);
        @include font(20px, 700);
        color: $primary;
        background: $dark;
        border: 10px solid $black;
        @include transition; 

        &:hover {
            color: $white;
            background: $primary;
        }
    }
}

@media (max-width: 575px) {
    .footer-bottom {
        padding: 50px 0px 30px;

        .container {
            flex-direction: column;
        }
    }
}