.header {
    background-color: $white;
    @include transition;

    &.sticky {
        position: sticky;
        top: 0px;
        #{$start-direction}: 0px;
        width: 100%;
        z-index: 3;
        box-shadow: 0px 15px 35px 0px rgba($black, 0.1);

        .header-content { padding: 10px 0px; }
    }
}

.header-content {
    @include flex(center, space-between);
    padding: 15px 0px;
    @include transition;
}

.header-responsive,
.sidebar-close {
    display: none;
}

.header-logo {
    img {
        height: 60px;
    }
}

.header-nav {
    @include flex(center, center);
    gap: 30px;
}

.header-list {
    @include flex(center, center);
    column-gap: 30px;
    row-gap: 15px;
}

.header-link {
    color: $text;
    @include font(15px, 700);
    text-transform: uppercase;

    &.active { color: $primary; }
}

.header-btn {
    color: $white;
    @include transition;
    animation: changeBG .95s linear infinite;

    &:hover {
        color: $white;
    }
}

@keyframes changeBG {
    0% { background: $primary; }
    50% { background: $primary-light; }
    100% { background: $primary; }
}

@media (max-width: 1199px) {
    .header-logo { display: none; }

    .header-responsive {
        width: 100%;
        @include flex(center, space-between);
        column-gap: 30px;
    }

    .responsive-logo {
        width: 100%;

        img { height: 60px; }
    }

    .sidebar-open,
    .sidebar-close {
        display: block;

        i {
            @include center(38px, 38px, 38px, 50%);
            color: $dark;
            background-color: $chalk-2;
            @include transition;

            &:hover {
                color: $white;
                background-color: $primary;
            }
        }
    }

    .header-content {
        padding: 15px 0px;
    }

    .header-nav {
        @include position(fixed, 270px, 100vh, 5);
        top: 0px;
        #{$start-direction}: -270px;
        padding: 20px;
        background-color: $white;
        flex-direction: column;
        align-items: flex-start;
        @include transition;

        &.sidebar {
            #{$start-direction}: 0px;
            box-shadow: 15px 0px 35px 0px rgba($black, 0.1);
        }
    }

    .header-list {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-item,
    .header-link {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .responsive-logo {
        img { height: 45px; }
    }

    .header-btn {
        font-size: 14px;
        padding: 12px 20px;
    }
}

@media (max-width: 500px) {
    .header-responsive {
        .header-btn { display: none; }
    }
}

