.header-top {
    padding: 6px 0px;
    background: $primary;
}

.header-top-announce {
    @include flex(center, flex-start);

    h6 {
        text-transform: capitalize;
        font-size: 15px;
        color: $chalk-1;
        padding-#{$end-direction}: 12px;
        border-#{$end-direction}: 2px solid $primary-light;
    }

    marquee {
        color: $white;
        font-size: 15px;
    }
}

.header-top-list {
    @include flex(center, flex-end);
    column-gap: 40px;
}

.header-top-item {
    @include flex(center, center);
    gap: 8px;

    i {
        font-size: 18px;
        line-height: 18px;
        color: $chalk-1;
    }

    span {
        @include font(15px, 500);
        color: $chalk-1;
    }
}

@media (max-width: 500px) {
    .header-top-list {
        display: none;
    }
}

@media (min-width: 501px) and (max-width: 991px) {
    .header-top-list {
        justify-content: center;
    }
}