.about-image {
    @include flex(center, center);
    margin-bottom: 50px;
    gap: 25px;

    div { width: 100%; }
    img { width: 100%; }
}

@media (max-width: 575px) {
    .about-image {
        flex-wrap: wrap;
    }
}