// =====================================
//        BANNER SECTION STYLE
//======================================
.banner-overlay {
    padding: 120px 0px;
    background: linear-gradient(to left, rgba($primary, .3), rgba($dark, .95));
}

.banner-content {
    max-width: 600px;

    small {
        @include font(16px, 700);
        text-transform: uppercase;
        letter-spacing: 3px;
        display: block;
        color: $primary-light;
        margin-bottom: 12px;
    }
    
    h1 {
        color: $white;
        margin-bottom: 25px;
        text-transform: uppercase;
        @include font(45px, 800);
    }

    p {
        color: $white;
        margin-bottom: 50px;
    }
}

.banner-carousel {
    &:hover {
        .owl-prev,
        .owl-next {
            opacity: 1;
            visibility: visible;
        }
    }

    .owl-prev,
    .owl-next {
        opacity: 0;
        visibility: hidden;
        @include transition;
    }

    .owl-prev { #{$start-direction}: 30px; }
    .owl-next { #{$end-direction}: 30px; }
}

@media (max-width: 575px) {
    .banner-overlay {  
        padding: 70px 0px; 
    }
    
    .banner-content {
        h1 { font-size: 30px; }
        p { font-size: 16px; }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .banner-overlay {  
        padding: 100px 0px; 
    }

    .banner-content {
        h1 { font-size: 38px; }
    }
}


// =====================================
//        DOCTOR  SECTION STYLE
//======================================
.doctor-carousel {
    .owl-prev, 
    .owl-next {
        top: 35%;
    }
}
